* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

ul {
  display: flex;
}

li>a {
  color: inherit;
  text-decoration: none;
}

li>a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.6rem;
  font-size: .8em;
}

.header-left ul,
.header-right ul {
  display: flex;
  align-items: center;
}

header li {
  margin: 0 .6em;
}

header li:first-child {
  margin-left: 0;
}

header li:last-child {
  margin-right: 0;
}

header #services-icon {
  width: 16px;
  height: auto;
  margin: 0 .6em;
  opacity: 0.5;
}

header #services-icon:hover {
  opacity: 1;
}

header #user-account {
  border-radius: 50%;
}

header #user-account:hover {
  box-shadow: 0 1px rgba(0, 0, 0, 0.08);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8.4rem;
}

#search-bar {
  min-width: 36.5rem;
  padding: 0.78rem 3rem;
  background-color: #fff;
  font-family: inherit;
  font-size: 1em;
  border: solid 1px #ddd;
  border-radius: 100rem;
}

#search-bar-container {
  position: relative;
  margin-top: 1.75rem;
}

#search-bar-container::before {
  position: absolute;
  top: 50%;
  left: 1.2em;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  font-size: 0.9em;
  font-weight: 900;
  color: #aaa;
}

#search-bar:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#search-bar:focus {
  outline: none;
}

#search-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1.9rem;
}

#search-buttons-container button {
  padding: 0.6em 1.2em;
  border: 0;
  border-radius: 4px;
  border: 1px solid rgb(250, 250, 250);
  background-color: rgb(250, 250, 250);
  margin: 0 0.4em;
  font-family: inherit;
  font-size: 0.88rem;
  cursor: pointer;
}

#search-buttons-container button:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#other-language {
  margin-top: 2rem;
  font-size: .8rem;
  text-align: center;
}

#other-language a,
#other-language a:visited {
  color: #1a0dab;
  text-decoration: none;
}

#other-language a:hover,
#other-language a:focus {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
}

footer li {
  margin: 0 0.9em;
}

footer li:first-child {
  margin-left: 0;
}

footer li:last-child {
  margin-right: 0;
}

#footer-top,
#footer-bottom {
  padding: .8rem 1.9rem;
  border-top: 1px solid #dadce0;
}

#footer-top {
  font-size: 0.9em;
}

#footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}